{% if block.TOPICS|length %}
<div class="panel post">
	<div class="inner">
		<div class="postbody sm-postbody fullwidth-img{% if block.HAS_IMG %} sm-y-divider-line list-block-5cols{% endif %}">
			<h2>{{ block.TITLE }}</h2>
			<ul class="sm-list">
			{% for content in block.TOPICS %}
				<li>
					{{ content.FIELDS.all|join }}
					<p>
						<span><i class="icon fa-file fa-fw {% if content.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ content.MINI_POST }}</span></span>
						<a class="topic-title" href="{{ content.TOPIC_URL }}">{{ content.TOPIC_TITLE }}</a>
					</p>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}